	.login-form {
		width: 340px;
   margin: 50px auto;
 }
 .login-form form {
   margin-bottom: 15px;
   background: white;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   padding: 30px;
 }
 .login-form img{
  width: 35%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {        
  font-size: 15px;
  font-weight: bold;
}
div a{
  text-decoration: underline;
  margin-left: 10px;
}