.background{
	background: rgba(235,233,249,1);
	background: -moz-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 72%, rgba(206,199,236,1) 72%, rgba(193,191,234,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(235,233,249,1)), color-stop(72%, rgba(216,208,239,1)), color-stop(72%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
	background: -webkit-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 72%, rgba(206,199,236,1) 72%, rgba(193,191,234,1) 100%);
	background: -o-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 72%, rgba(206,199,236,1) 72%, rgba(193,191,234,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 72%, rgba(206,199,236,1) 72%, rgba(193,191,234,1) 100%);
	background: linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 72%, rgba(206,199,236,1) 72%, rgba(193,191,234,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
	min-height: 100vh;
}